# IDE & OS
.idea
.DS_Store
.php_cs.cache
.project
.vscode

# Project & Meta
vendor
*.bat
.vagrant
composer.*
!composer.json

# Application
bin/*
!bin/zf*
!bin/classmap_generator.php
tests/Zend/**/_files/*
